.parent{
    align-items: center;
    justify-content: center;
    display: flex;
}
.cont {
    background: linear-gradient(70deg, rgb(218, 187, 247), rgb(233, 217, 247));
    width: 80vw;
    height: 480vh;
    margin-bottom: calc(2px + 2vh);
    align-items: center;
    position: absolute;
    top: 4%;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8);
    padding: 2%;
}
.pa {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
}
.mm{
    float: left;
}
.ll{
    padding: 2%;
    width: 58vw; 
    float: left;
    height: 26vh;
}
.pr{
    float: left;
    width: 100%;
    color: rgb(218, 187, 247);
}
.hh{
    color: #070707;
    font-family: 'Robo', sans-serif; 
    font-size: 5vh;
    width: 100vw;
    font-weight:bold;
    padding-bottom: calc(5px + 0.1em);
    border-bottom: calc(0.2px + 0.05em) solid #070707;
}
.header {
    margin: 2%; ;
    color: rgb(2, 2, 2);
}
.naz{
    font-size: 3vh;
}
.nazaz{
    font-size: 4vh;
    color: #000;
}
.ph {
    font-size: 2vh;
    margin: 2%;
}
.tp {
    margin: 3%;
    color: #070707;
    
}
.pp{
    width: 23vh;
    height: 26vh;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
.bb{
    color: #070707;
    margin: 2%;
    padding: 1%;
    width: 100%; 
    float: left;
    font-size: 2vh;
}
.nn{
    float: left;
    width: 100%; 
    margin: 2%;
    padding: 2%;
    color: #070707;
    
}

.col-11{
    font-size: 2vh;
    width: 43%; 
    float: left;
    padding: 3%;
}
.col-12{
    font-size: 2vh;
    width: 43%; 
    float: left;
    padding: 3%;
}
.col-21{
    font-size: 2vh;
    width: 43%; 
    float: left;
    padding: 3%;
}
.col-22{
    font-size: 2vh;
    width: 43%; 
    float: left;
    padding: 3%;
}
.ff{
    
    margin-top: 2%;
    align-items: center;
    
}
.kn{
    font-size: 2vh;
    margin: 2%;
    color: #000;
}
.o2 {
    padding: 2%;
    width: 45%; 
    float: left;
}
.o1 {
    padding: 2%;
    width: 45%; 
    float: left;
}

